@scope (.button) {
  button:scope {
    font-size: 1rem;

    [data-size='lg'] {
      font-size: 1.5rem;
    }

    [data-size='sm'] {
      font-size: 0.75rem;
    }

    [data-danger] {
      color: red;
    }
  }
}
