@scope (.foo) {
  div:scope {
    --background: var(--color-black);
    --padding: var(--spacing-0);
    --border: 1;
    --test: true;

    font-size: 1rem;

    &[data-foo-size='lg'] {
      font-size: 1.5rem;
    }

    &[data-foo-size='sm'] {
      font-size: 0.75rem;
    }

    &[data-x] {
      color: red;
    }
  }
}

@scope (.bar) {
  span:scope {
    &[data-bar-size='lg'] {
      font-size: 1.5rem;
    }

    &[data-x] {
      border-color: red;
    }
  }
}

@scope (.baz) {
  p:scope {
    font-size: 1rem;
  }
}
